       Kishan                                      Assignment-2                                   30-1-23

 **1.Write a program to accept percentage from the user and display the grade according to following Criteria**

In [8]:
n =float(input("Enter the grade"))

if (n>90.0):
         print("Grade A")
elif(80 < n <=90):
         print("Grade B")
elif(60 < n <=80):
         print("Grade C")
else:
         print("Grade D")

Enter the grade 91

Grade A

**2. Write a Program to accept the cost price of a bike and display the road tax to be paid according to the following criteria**

In [11]:
cost_price = int(input(" Cost Price of a Bike"))
if cost_price > 100000:
    print(f"Road tax to pay is 15% {cost_price*0.15}")
elif (50000< cost_price <= 100000):
    print(f"Road tax to pay is 10% {cost_price*0.1}")
else:
    print(f"Road tax to pay is 5% {cost_price *0.05}")

 Cost Price of a Bike 120000

Road tax to pay is 15% 18000.0

**3. Accept any city from the user and display monuments of that city**

In [12]:
a =input()
if a=="Delhi":
    print("Red Fort")
elif a=="Agra":
    print("Taj Mahal")
elif a=="Jaipur":
    print("Jal Mahal")
else:
    print("Enter your city Properly")

 Bangalore

Enter your city Properly

**4. Check how many times a given number can be divisible by 3 before it is less than or equal to 10**

In [20]:
num = int(input("Enter a number: "))

count = 0
while num > 10:
    num /= 3
    count += 1

print(count, "times before it becomes less than or equal to 10")

Enter a number:  112

3 times before it becomes less than or equal to 10

**5. Why and when to use While loop in python give a detailed description with Example**

Basically,While loop is used when we know the condition ,but we don't know how many times we need to execute the loop to reach that condition. In those Scenario's we mostly prefer to use While loop to execute.

Example:-

Suppose if we want to read a file until the end of file is reached, but we don't know in which line it will end
So In this kind of scenarios we can use a while loop.

**6. Use Nested While loop to print Three Different Patterns**

In [9]:
r =int(input("enter no of rows to print the Pattern"))
c =int(input("enter no of clumns to print the column"))
i=1
j=1
while i<=r:
    while j<=c:
        print("*",end="")
        j=j+1
    
    i=i+1
    j=1
    print("\r")

enter no of rows to print the Pattern 3
enter no of clumns to print the column 3

***
***
***

In [14]:
r =int(input("enter no of rows to print the Pattern"))
#c =int(input("enter no of columns to print the column"))
i=1
j=1
while i<=r:
    while j<=i:
        print("*",end="")
        j=j+1
    i=i+1
    j=1
    print("\r")

enter no of rows to print the Pattern 5

*
**
***
****
*****

In [13]:
r =int(input("enter no of Rows"))
i=r
j=1
while i>0:
    while j<=i:
        print("*",end="")
        j=j+1
    i=i-1
    j=1
    print("\r")

enter no of Rows 5

*****
****
***
**
*

In [3]:
r =int(input("enter no of rows to print the Pattern"))
c =int(input("enter no of columns to print the column"))
i=1
j=1
k=1
z =(c*2)-2
while i<r:
    while j<z:
        print(end=" ")
        j=j+1
    j=1
    z=z-1
    i=i+1
    while k<=i-1:
        print("*",end=" ")
        k=k+1
    k=1
    print("\r")

enter no of rows to print the Pattern 5
enter no of columns to print the column 7

           *
          * *
         * * *
        * * * *

**7. Reverse a while loop to display number 1 to 10**

In [21]:
n =int(input("enter a number"))
while n>0:
    print(n)
    n=n-1

enter a number 10

10
9
8
7
6
5
4
3
2
1

**8. Reverse a while loop to display number 1 to 10**

In [22]:
n =int(input("enter a number"))
while n>0:
    print(n)
    n=n-1

enter a number 20

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1