In [1]:
# Kishan Chand                          Assignment                        Feb16-23

# 1. What is a Database ? Differentiate b/w SQL and NoSQL Databases ?

A database is a structured collection of data that is organized in a way that allows for efficient storage, retrieval, and modification of information. 
SQL and NoSQL are two different types of database management systems (DBMS) that are used to store and manage data.

Difference b/w SQl and NoSQL Databases

1.SQL (Structured Query Language) databases are relational databases that use tables to store data. 

2.In SQL databases, data is organized into tables that are related to each other through keys.

3.SQL databases are best suited for applications that require complex queries and transactions, such as financial     and banking applications.

Examples of popular SQL databases include Oracle, MySQL, and PostgreSQL.

1.NoSQL (Not Only SQL) databases, on the other hand, are non-relational databases that do not use tables to store     data.

2.Data is stored in documents, key-value pairs, or graph structures. 

3.NoSQL databases are best suited for applications that require scalability, high performance, and flexible data     models. 

Examples of popular NoSQL databases include MongoDB, Cassandra, and Redis.

# 2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL(data definition language) is a subset of SQL 

DDl Commands are used to define,modify,delete,alter the structure of database objects such as tables, views, and indexes.

Create is used to "create a table" in database"

Ex:- create table cricket(name varchar(20),team varcar(20),runs int,salary float);
     create database if not exists Sports;
     
Drop is used to "Drop a table from database"

Ex:- drop table cricket;
    (which drops  the whole table from the database)
    
Alter is used to " modify the structure of existing database objects "

Ex :- ALTER TABLE cricket ADD COLUMN NoofCenturies int;

Truncate is used to "Delete all the records present in the table but not Structure "

Ex :- Truncate table cricket;

# 3.  What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML nothing but (data manipulation language) basicly, it is used to manipulate the data

INSERT :- The INSERT command is used to insert new rows of data into a table
 
         Ex:- insert into  customers cricket('John Smith','RCB',20000,'50000');

UPDATE :- The UPDATE Command is used to modify the Exisiting data 
          
         Ex:- UPDATE Cricket SET Salary = Salary * 1.1 WHERE runs > 50000;
         
DELETE :-  The DELETE Command is used to remove one or more rows from the table
         Ex:- Delete from cricket where runs<1000;

# 4. What is DQL? Explain SELECT with an example.

DQL is called as Data Query language,It is used to query the database to retrieve the data from it

Select is basically used for select the columns based on Specific Condition

Ex:- select name,team from cricket where runs>50000;

# 5. Explain Primary Key and Foreign Key.

In Relational Database to Establish a relation b/w two tables we must required the Primary key and Foriegn Key 

Primary Key 

-> Basicaly,it's a Unique Column which was present in each and every table to establish/maintain a relation b/w two     or more tables

-> primary Key Shouldn't have null values and must be unique

Foreign Key

->Foreign key is a column in a table, used to establish a relationship with primary key of another table 

-> Foreign key can have null values

# 6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

#Connecting to MYSQL Database

mydb =mysql.connector.connect(host="localhost",user="abc",password="password")

#Creating a Cursor Object
mycursor =mydb.cursor()

#Execute a SQL Query
mycursor.execute("select * from cricket")

#Fetch the results of the query
myresult = mycursor.fetchall()

#Print the results
for x in myresult:
  print(x)


cursor() fetches records/data from the database and, used to iterate over the table/datbase Basically, it act as a Pointer

execute() is used to run the SQL Commands in the python programming language with the help of cursor object reference

# 7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: The FROM clause specifies the table or tables from which data is retrieved.

JOIN: The JOIN clause is used to join two or more tables based on a specified condition.

WHERE: The WHERE clause is used to filter data based on a specified condition.

GROUP BY: The GROUP BY clause is used to group data based on one or more columns.

HAVING: The HAVING clause is used to filter data based on a specified condition after grouping.

SELECT: The SELECT clause is used to specify the columns to be retrieved from the table.

DISTINCT: The DISTINCT clause is used to retrieve only unique values.

ORDER BY: The ORDER BY clause is used to sort the data based on one or more columns.

LIMIT: The LIMIT clause is used to limit the number of rows returned by the query.