In [ ]:
# Kishan Chand                          Assignment                        Feb17-23

# 1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use MongoDB over SQL databases?

MongoDB is a popular NoSQL document Oriented Database,it is designed to store and manage large volume of unstructured 
data,which stores data in the form of documents (JSON like format)

Non Relational Databases uses variety of data models like key-value stores,document stores,graph database and other to store and manage data

NoSQl databases are often used for large Scale distributed applications

In scenarios where the data has a high degree of variability and complexity, NoSQL databases like MongoDB can provide a more flexible and scalable solution than traditional SQL databases. For example, MongoDB is often used for web applications, social networks, and other large-scale, high-traffic sites where the data is constantly changing and evolving.


Some of the scenarios where MongoDB is preferred over SQL databases are :-


Large-scale data storage and processing: MongoDB is designed to scale horizontally, making it ideal for storing and processing large volumes of data across multiple servers.

Big data analytics: MongoDB's flexible schema and powerful query capabilities make it a popular choice for big data analytics, where complex queries and analysis are required.

# 2. State and Explain the features of MongoDB.

MongoDB is a versatile and powerful database system that offers a range of features designed to meet the needs of modern applications. Its document-oriented data model, flexible schema design, powerful query language, and support for horizontal scalability make it a popular choice for developers and organizations looking for a high-performance, flexible, and scalable database solution.

Horizontal scalability: MongoDB is designed to scale horizontally across multiple servers, making it easy to handle large volumes of data and high levels of traffic.

Flexible schema design: MongoDB's dynamic schema design allows for easy modification of the database schema as application requirements change, making it a good fit for agile development processes.

Native integration with programming languages: MongoDB provides native drivers and APIs for many popular programming languages, including Python, Java, and Node.js, making it easy to integrate with modern application stacks.

# 3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [3]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 3.9 MB/s eta 0:00:00a 0:00:01
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 26.1 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.3.0 pymongo-4.3.3
Note: you may need to restart the kernel to use updated packages.

In [58]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://pwskills_first_lab:pwskills@cluster0.azcydcw.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [59]:
  # Creating a DataBase
db =client['dataBase']

In [60]:
  # Collection in DataBase
collection_ =db['Records']

# 4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [61]:
values ={
         'collage Name':'Presidency',
         'School Name': 'SOE',
         'pg_Name':'Saish Living Spaces'
            }
collection_.insert_one(values)

In [98]:
mark_sheet = [ {'Name':'kishan','School':'SOE','Branch':'COM','Score':8.5,'Marks':60},
               {'Name':'Uday','School':'SOE','Branch':'CSE','Score':8.7,'Marks':70},
               {'Name':'yadav','School':'SOE','Branch':'ISE','Score':7.5,'Marks':80},
               {'Name':'Manju','School':'SOE','Branch':'IST','Score':9.5,'Marks':90},
               {'Name':'Bala','School':'SOE','Branch':'IST','Score':8.5,'Marks':1000}
             ]

In [63]:
#players_bio =[{'Name' :'Virat Kohli','runs':'25000','format_player':'3f','One word':'Inspiration'},              {'Name' :'ABD','runs':'20000','format_player':'3f','One word':'My Favourite Player'},              {'Countries':['India','SA','Australia','New Zealand','Pakisthan']}]

In [64]:
#collection_.insert_many(players_bio)

In [99]:
collection_.insert_many(mark_sheet)

In [100]:
for i in collection_.find():
    print(i)

{'_id': ObjectId('63f4c91620ed5e601f677eb4'), 'Name': 'kishan', 'School': 'SOE', 'Branch': 'COM', 'Score': 8.5, 'Marks': 60}
{'_id': ObjectId('63f4c91620ed5e601f677eb5'), 'Name': 'Uday', 'School': 'SOE', 'Branch': 'CSE', 'Score': 8.7, 'Marks': 70}
{'_id': ObjectId('63f4c91620ed5e601f677eb6'), 'Name': 'yadav', 'School': 'SOE', 'Branch': 'ISE', 'Score': 7.5, 'Marks': 80}
{'_id': ObjectId('63f4c91620ed5e601f677eb7'), 'Name': 'Manju', 'School': 'SOE', 'Branch': 'IST', 'Score': 9.5, 'Marks': 90}
{'_id': ObjectId('63f4c91620ed5e601f677eb8'), 'Name': 'Bala', 'School': 'SOE', 'Branch': 'IST', 'Score': 8.5, 'Marks': 1000}

In [101]:
collection_.find_one()

{'_id': ObjectId('63f4c91620ed5e601f677eb4'),
 'Name': 'kishan',
 'School': 'SOE',
 'Branch': 'COM',
 'Score': 8.5,
 'Marks': 60}

# 5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

The find() method with no parameters returns all documents from a collection and returns all fields for the documents.

For example, the following operation returns all documents in the  collection:

In [102]:
for i in collection_.find():
    print(i)

{'_id': ObjectId('63f4c91620ed5e601f677eb4'), 'Name': 'kishan', 'School': 'SOE', 'Branch': 'COM', 'Score': 8.5, 'Marks': 60}
{'_id': ObjectId('63f4c91620ed5e601f677eb5'), 'Name': 'Uday', 'School': 'SOE', 'Branch': 'CSE', 'Score': 8.7, 'Marks': 70}
{'_id': ObjectId('63f4c91620ed5e601f677eb6'), 'Name': 'yadav', 'School': 'SOE', 'Branch': 'ISE', 'Score': 7.5, 'Marks': 80}
{'_id': ObjectId('63f4c91620ed5e601f677eb7'), 'Name': 'Manju', 'School': 'SOE', 'Branch': 'IST', 'Score': 9.5, 'Marks': 90}
{'_id': ObjectId('63f4c91620ed5e601f677eb8'), 'Name': 'Bala', 'School': 'SOE', 'Branch': 'IST', 'Score': 8.5, 'Marks': 1000}

# 6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [112]:
#collection_.find().sort([{ 'Marks':-1 }])
results =collection_.find().sort([('Marks', pymongo.DESCENDING)])
for i in results:
    print(i)

{'_id': ObjectId('63f4c91620ed5e601f677eb8'), 'Name': 'Bala', 'School': 'SOE', 'Branch': 'IST', 'Score': 8.5, 'Marks': 1000}
{'_id': ObjectId('63f4c91620ed5e601f677eb7'), 'Name': 'Manju', 'School': 'SOE', 'Branch': 'IST', 'Score': 9.5, 'Marks': 90}
{'_id': ObjectId('63f4c91620ed5e601f677eb6'), 'Name': 'yadav', 'School': 'SOE', 'Branch': 'ISE', 'Score': 7.5, 'Marks': 80}
{'_id': ObjectId('63f4c91620ed5e601f677eb5'), 'Name': 'Uday', 'School': 'SOE', 'Branch': 'CSE', 'Score': 8.7, 'Marks': 70}
{'_id': ObjectId('63f4c91620ed5e601f677eb4'), 'Name': 'kishan', 'School': 'SOE', 'Branch': 'COM', 'Score': 8.5, 'Marks': 60}

# 7. Explain why delete_one(), delete_many(), and drop() is used.

In [69]:
collection_.delete_one({'Name':'Uday'})

To delete more than one document,we use the delete_many() method.

The first parameter of the delete_many() method is a query object defining which documents to delete.

In [129]:

query = { "Marks": { "$gt": 90 } }
result = collection_.delete_many(query)

print(result.deleted_count, "documents deleted")

0 documents deleted

In [130]:
for i in collection_.find():
    print(i)

{'_id': ObjectId('63f4c91620ed5e601f677eb5'), 'Name': 'Uday', 'School': 'SOE', 'Branch': 'CSE', 'Score': 8.7, 'Marks': 70}
{'_id': ObjectId('63f4c91620ed5e601f677eb6'), 'Name': 'yadav', 'School': 'SOE', 'Branch': 'ISE', 'Score': 7.5, 'Marks': 80}
{'_id': ObjectId('63f4c91620ed5e601f677eb7'), 'Name': 'Manju', 'School': 'SOE', 'Branch': 'IST', 'Score': 9.5, 'Marks': 90}

drop is used to remove/drops the all documents present in the Collection

In [94]:
collection_.drop()

In [97]:
for i in collection_.find():
    print(i)