In [ ]:
# Kishan Chand                          Assignment                        Feb23-23

## Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [20]:
import pandas as pd
a =pd.Series(["4","8","15","16","23","42"])

In [21]:
a

0     4
1     8
2    15
3    16
4    23
5    42
dtype: object

In [22]:
type(a)

pandas.core.series.Series

## Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable print it.

In [23]:
l =[100,200,300,400,500,600,111,222,333,444,555]
y =pd.Series(l)

In [24]:
y

0     100
1     200
2     300
3     400
4     500
5     600
6     111
7     222
8     333
9     444
10    555
dtype: int64

## Q3. Create a Pandas DataFrame that contains the following data: Then, print the DataFrame.

In [15]:
import pandas as pd
df =pd.DataFrame({'Name':["Alice","Bob","Claire"],'Age':[25,30,27],'Gender':["Female","Male","Female"]})

In [16]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different types.  

A Pandas Series, on the other hand, is a one-dimensional labeled array capable of holding data of any type (integer, string, float, etc.). It can be thought of as a single column of a DataFrame.

Basically, 
Each column in a DataFrame is a Pandas Series, so a DataFrame is essentially a collection of Pandas Series that share the same index.

In [49]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

# As you can see from the output, the DataFrame displays all the columns and rows of data in a table-like format, by the collection of all different attributes with the Same Index

In [35]:
df['Age']

0    25
1    30
2    27
Name: Age, dtype: int64

# here the Series displays only the 'age' column of data with its corresponding index values, which implies the values are in Series

## Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

groupby(): This method groups the data in the DataFrame by one or more columns and applies a function to each group. It can be useful for aggregating data or calculating statistics for different groups in the data.

dropna(): This method removes any rows from the DataFrame that contain  NaN (Not a Number) values. It can be useful for cleaning up the data and preparing it for analysis.

## Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Series and DataFrame are mutable in nature, while Panel is not mutable.


Beacuse, Panel is a three-dimensional data structure that can hold multiple DataFrames. While individual DataFrames inside a Panel can be modified, the structure of the Panel itself cannot be changed after it has been created. Therefore, Panel is not mutable.

## Q7. Create a DataFrame using multiple Series. Explain with an example.

In [46]:
import pandas as pd
name =pd.Series(["xxx","yyy","zzz"])
roll =pd.Series(["100","200","300"])
Grad =pd.Series(["A","B","O"])
df1 =pd.DataFrame({"Name":name,"Roll No":roll,"Grade":Grad})

In [47]:
df1

  Name Roll No Grade
0  xxx     100     A
1  yyy     200     B
2  zzz     300     O

In [48]:
type(df1)

pandas.core.frame.DataFrame